@import './normalize.css';

:root {
	--color-text: #666;
	--color-high-text: #42bBaa;
	--color-tint:#42b983;
	--color-background:#FFFFFF;
	--font-size:14px;
	--line-height:1.5;
	
}
*::before,*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	user-select: none;/* 禁止用户选中字体图片来复制等操作 */
	background: #EEE9E9;
	color: var(--color-text);
	width: 100vw;
	height: 100vh;
}
a {
	color: var(--color-text);
	text-decoration: none;
}

